APP_NAME=PokeVault API
API_V1_PREFIX=/api
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173
ENVIRONMENT=development
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD_FILE=db/mysql_password.enc
MYSQL_PASSWORD_KEY_FILE=db/mysql_password.key
MYSQL_DATABASE=pokevault
MYSQL_CHARSET=utf8mb4
TCGGO_API_BASE_URL=https://cardmarket-api-tcg.p.rapidapi.com
TCGGO_API_KEY=
TCGGO_GAME=pokemon
POKEMON_TCG_API_BASE_URL=https://api.pokemontcg.io/v2
POKEMON_TCG_API_KEY=
